<div (dblclick)="ChangeStatus(2)" class="card">
    <div class="thumbnail" [ngStyle]="thumbStyles"></div>
    <div class="card-body mx-auto d-flex">
        <div class="img-box" (click)="imgScaled = !imgScaled">
            <div class="img-container">
                <div class="img" [ngStyle]="imgStyles" [class.scaled_img]="imgScaled"></div>
            </div>
            <div class="img-blr" [ngStyle]="imgBlurStyles" [style.opacity]="imgScaled? 0 : 100"></div>
        </div>

        <div class="d-flex flex-column mr-1">
            <div class="status_select" [class.status_select_hide]="menuHide">
                <i (click)="menuHide = true" class="far fa-arrow-alt-circle-left"></i>
                <ul>
                    <li (click)="ChangeStatus(0)">not set</li>
                    <li (click)="ChangeStatus(1)">in progress</li>
                    <li (click)="ChangeStatus(2)">completed</li>
                    <li (click)="ChangeStatus(3)">backlog</li>
                </ul>
            </div>

            <div class="info" [class.blr]="!menuHide">
                <h5 [ngStyle]="{'font-size.rem' : getFontSizeByLength(gameData.name.length)}" class="title mb-1">
                    {{gameData?.name}}</h5>
                <p (click)="menuHide = !menuHide" class="status">status: {{getEnumName()}}</p>
                <p class="playTime">played total: {{gameData?.userPlayTime}}h</p>
            </div>
        </div>
    </div>
</div>