<div class="empty"></div>
<span class="ml-3 btn_back" routerLink="/">back</span>
<div class="wrapper mx-auto mt-3">
    <div class="mb-4">
        <div class="btn-group" btnRadioGroup [(ngModel)]="container">
            <button btnRadio="Inbox" class="btn btn-dark" (click)="loadMessages()"><i class="fa fa-envelope"></i>
                Inbox</button>
            <button btnRadio="Outbox" class="btn btn-dark" (click)="loadMessages()"><i class="fa fa-envelope-open"></i>
                Outbox</button>
        </div>
    </div>

    <div class="row" *ngIf="messages.length === 0">
        <h3>No messages</h3>
    </div>

    <div class="row" *ngIf="messages.length > 0">
        <table class="table table-hover" style="cursor: pointer;">
            <tr>
                <th style="width: 40%">Message</th>
                <th style="width: 20%">{{container === "Inbox" ? "From" : "To"}}</th>
                <th style="width: 20%">{{container === "Inbox" ? "Received" : "Send"}}</th>
                <th style="width: 20%"></th>
            </tr>

            <tr *ngFor="let message of messages">
                <td>{{message.content}}</td>
                <td>
                    <div style="padding: 0;" *ngIf="container === 'Outbox'" routerLink="/chat"
                        [queryParams]="{'username' : message.recipientName}">
                        <img src="{{message?.recipientPhotoUrl}}" class="img-circle rounded-circle mr-2"
                            alt="{{message.recipientName}}">
                        <strong>{{message.recipientName | titlecase}}</strong>
                    </div>
                    <div style="padding: 0;" *ngIf="container !== 'Outbox'" routerLink="/chat"
                        [queryParams]="{'username' : message.senderName}">
                        <img src="{{message?.senderPhotoUrl}}" class="img-circle rounded-circle mr-2"
                            alt="{{message.senderName}}">
                        <strong>{{message.senderName | titlecase}}</strong>
                    </div>
                </td>
                <td>{{message.messageSent}}</td>
                <td>
                    <div class="btn btn-outline-danger" (click)="deleteMessage(message.id)" >Delete</div>
                </td>
            </tr>
        </table>
    </div>
</div>