.modal-dialog {
    width: 24rem;
    user-select: none;
    margin-top: calc(1/4 * 100vh);
}

#login.modal-body {
    padding-top: .2rem;
}

#login .form-group {
    width: 90%;
}

#login .form-control {
    margin-top: .5rem;
    width: 100%;
}

#login .buttons {
    margin-top: .5rem;
}

#login span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#login .invalid-feedback {
    margin-bottom: .5rem;
}

@media only screen and (max-width: 426px) and (min-width: 375px) {
    .modal-dialog {
        width: 20rem;
        user-select: none;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}