<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button> -->
</div>

<div id="login" class="modal-body">
    <div class="form-group mx-auto">
        <input type="text" placeholder="Username" class="form-control mx-auto">
        <input type="password" placeholder="Password" class="form-control mx-auto">
        <span class="float-right mt-1">don't have an account?</span>
        <div class="buttons">
            <button class="btn btn-primary">Sign in</button>
        </div>
    </div>
</div>