<div class="empty_space"></div>
<main class="container-fluid mx-auto mt-5 mt-3">
    <ng-container *ngIf="!(accService.currentUser$ | async)?.steamId">
        <h3>Nothing to display. Specify your steam id in your <span class="profile">profile</span></h3>
    </ng-container>

    <ng-container *ngIf="(memberService.games$ | async) as games">
        <h4 *ngIf="!games.length">No games found...</h4>
        <app-home-card *ngFor="let game of games" [gameData]="game"></app-home-card>
    </ng-container>
</main>
<div class="empty_space"></div>
<div class="empty_space">
    <button *ngIf="loadButtonDisplay()" (click)="getGamesFromBd()" class="btn btn-outline-dark load_more">Load
        more</button>
</div>
<div class="empty_space"></div>