header {
    margin: 0;
    padding: 0;
}

header.container-fluid {
    /* background-color: aqua; */
    height: 50px;
}

header .left button {
    border: 0;
    width: 150px;
    height: 30px;
    margin-left: 3rem;
    background-color: white;
}

header .left input {
    width: 250px;
    height: 30px;
    border: 0;
    background-color: white;
}

header .left input:focus-visible {
    outline: none;
}

header .right span {
    cursor: pointer;
}

main.container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    padding: 0;
    width: 90%;
    /* background-color: #d9d9d9; */
}

.card {
    cursor: pointer;
    /* background: linear-gradient(); Сделать градиент для карты */
    /* background-color: hsla(0, 0%, 75%, 0.703); */
    border: 0;
    border-radius: 0;
    width: 300px;
    height: 150px;
    opacity: 85%;
    transition-duration: .2s;
}

.card:hover {
    opacity: 100%;
    transition-duration: .2s;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    width: 100%;
    text-align: center;
    /* color: #d9d9d9 */
}

.card-body * {
    margin: 0;
    padding: 0;
}

.img-box {
    overflow: hidden;
    width: 9rem;
    height: 8rem;
}

.img {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    background-color: rgb(136, 204, 9);
    background-image: url(https://howlongtobeat.com/games/250px-Half-Life_Blue_Shift_box.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: blur(2px) brightness(30%);
}

.img-box::after {
    display: block;
    position: relative;
    content: "";
    width: 8rem;
    height: 8rem;
    left: 0%;
    top: -100%;
    background-image: url(https://howlongtobeat.com/games/250px-Half-Life_Blue_Shift_box.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: .3s;
}

.img-box:hover::after {
    transform: scale(1.5);
    transition-duration: .3s;
}

.card::after {
    display: block;
    position: absolute;
    top: 7.5rem;
    left: .2rem;
    z-index: 1;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(https://media.steampowered.com/steamcommunity/public/images/apps/130/b06fdee488b3220362c11704be4edad82abeed08.jpg);
    background-size: contain;
}