<header class="container-fluid d-flex align-items-center justify-content-between">
    <div class="left ml-5">
        <input type="text">
        <button>Фильтры</button>
    </div>

    <div class="right mr-3">
        <span>"someNick"</span>
    </div>
</header>

<main class="container-fluid mx-auto mt-5">

    <div class="card">
        <div class="card-body mx-auto my-auto">
            <div class="img-box">
                <div class="img"></div>
            </div>
            <div class="d-flex flex-column justify-content-center mr-1">
                <h5 class="title mb-1">Half-Life: Blue Shift </h5>
                <p class="status">status: not set</p>
                <p class="playTime">played total: 523h</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body mx-auto">
            <div class="img-box">
                <div class="img"></div>
            </div>
            <div class="d-flex flex-column justify-content-center mr-1">
                <h5 class="title mb-1">Hyper Light Drifter </h5>
                <p class="status">status: not set</p>
                <p class="playTime">played total: 523h</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body mx-auto">
            <div class="img-box">
                <div class="img"></div>
            </div>
            <div class="d-flex flex-column justify-content-center mr-1">
                <h5 class="title mb-1">Hyper Light Drifter </h5>
                <p class="status">status: not set</p>
                <p class="playTime">played total: 523h</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body mx-auto">
            <div class="img-box">
                <div class="img"></div>
            </div>
            <div class="d-flex flex-column justify-content-center mr-1">
                <h5 class="title mb-1">Hyper Light Drifter </h5>
                <p class="status">status: not set</p>
                <p class="playTime">played total: 523h</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body mx-auto">
            <div class="img-box">
                <div class="img"></div>
            </div>
            <div class="d-flex flex-column justify-content-center mr-1">
                <h5 class="title mb-1">Hyper Light Drifter </h5>
                <p class="status">status: not set</p>
                <p class="playTime">played total: 523h</p>
            </div>
        </div>
    </div>

</main>