main.container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    padding: 0;
    width: 90%;
}

span.profile{
    text-decoration: underline;
    cursor: pointer;
    transition: .2s;
}

span.profile:hover {
    transition: .2s ease-in-out;
    color: gray;
}

.empty_space {
    height: 2rem;
}