header {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(230, 230, 230, 0.8), rgb(227, 227, 227, 0.8));
}

header.container-fluid {
    height: 50px;
}

header .left button {
    border: 0;
    width: 150px;
    height: 30px;
    margin-left: 3rem;
    background-color: white;
}

header .left input {
    width: 250px;
    height: 30px;
    border: 0;
    background-color: white;
}

header .left input:focus-visible {
    outline: none;
}

header .right {
    cursor: pointer;
}

header .right button {
    background: transparent;
    transition: .3s;
    border: .1rem solid rgba(20, 20, 20, 0.8);
}

header .right button:hover {
    transition: .3s;
    background-color: rgba(20, 20, 20, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

img {
    height: 2.5rem;
    margin-left: .5rem;
    border-radius: 20px;
}
