header {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(230, 230, 230, 0.8), rgb(227, 227, 227, 0.8));
}

header.container-fluid {
    height: 50px;
}

form {
    margin-right: -7px;
}

form i {
    position: relative;
    right: 20px;
}

header .left  {
    display: flex;
    align-items: center;
    user-select: none;
}

.left .sorting p {
    width: 6.5rem;
    cursor: pointer
}

.left i {
    cursor: pointer;
}

#filter-dropdown {
    background: linear-gradient(rgba(230, 230, 230, 0.9), rgb(227, 227, 227, 0.9));
    padding: .4rem
}

#filter-dropdown .activeFilter {
    color: rgb(13, 136, 207);
}

#filter-dropdown span {
    font-weight: 500;
}

#filter-dropdown i {
    margin-left: .7rem;
}

#filter-dropdown p {
    margin-bottom: .1rem;
}

header .left input {
    width: 230px;
    height: 30px;
    border: 0;
    background-color: white;
}

header .left input:focus-visible {
    outline: none;
}

header .right {
    display: flex;
}

header .right *:not(.right:first-child) {
    cursor: pointer;
}

header .right button {
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
    height: 77%;
    transition: .3s;
    border: .1rem solid rgba(20, 20, 20, 0.8);
    animation:  buttonShake 2s ease-in-out 7s 1;
}

header .right button:hover {
    transition: .3s;
    background-color: rgba(20, 20, 20, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.hide {
    transition: .2 ease-out;
    transform: scale(0) rotate(-5deg);
    user-select: none;
}

@keyframes buttonAppear {
    0% {
        transform: scale(0) rotate(-5deg);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes buttonShake {
    0% {
        transform: translate(0);
    }
    5% {
        transform: translate(.5rem) rotate(.5deg);
    }
    10% {
        transform: translate(0) rotate(0);
    }
    15% {
        transform: translate(-.5rem) rotate(.5deg);
    }
    20% {
        transform: translate(0) rotate(0);
    }
    100% {
    }
}

img {
    height: 2.5rem;
    margin-left: .5rem;
    border-radius: 20px;
}

.user-info {
    display: inline-block;
}

.right .dropdown-menu {
    min-width: 2rem;
    width: 6.2rem;
    background: linear-gradient(rgba(230, 230, 230, 0.7), rgb(227, 227, 227, 0.7));
}

.dropdown-item {
    padding: .3rem;
    padding-left: .5rem;
}

.dropdown-item:hover {
    transition: .3s;
}

.dropdown-item:hover {
    transition: .3s;
    color: #fff;
    text-decoration: none;
    background-color: rgba(49, 49, 49, 0.8);
}