<header class="container-fluid d-flex align-items-center justify-content-between">

    <div class="left ml-5">
        <input type="text">
        <button>Фильтры</button>
    </div>

    <ng-container *ngIf="(accService.currentUser$ | async) as user">
        <div class="right mr-3">

            <ng-container *ngIf="true">
                <button [class.hide]="!isFetchNeeded" (click)="fetchSteamGames(user.steamId)"
                    [ngStyle]="{'animation-play-state': isFetchNeeded? 'running' : 'paused'}" class="mr-3">fetch
                    steamgames</button>
            </ng-container>

            <div class="dropdown" dropdown>
                <div class="user_info" dropdownToggle>
                    <span>{{(user?.userName | uppercase) || "user"}}</span>
                    <img [src]="user?.photoUrl || './assets/unknownImg.jpg'" alt="steamAv">
                </div>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item">Edit profile</a>
                    <a (click)="logOut()" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </ng-container>
</header>